@font-face {
  font-family: 'victr';
  src:  url('fonts/victr.eot?17o7k0');
  src:  url('fonts/victr.eot?17o7k0#iefix') format('embedded-opentype'),
    url('fonts/victr.ttf?17o7k0') format('truetype'),
    url('fonts/victr.woff?17o7k0') format('woff'),
    url('fonts/victr.svg?17o7k0#victr') format('svg');
  font-weight: normal;
  font-style: normal;
}

.v {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'victr' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.v-vumc:before {
  content: "\e901";
}
.v-redcap:before {
  content: "\e900";
}
