<form class="form-inline" method="get" action="https://www.google.com/search">
	<div class="row" style="padding-bottom: 15px;">
		<div class="col-sm-6 col-sm-offset-3">
			<input type="text" name="q" maxlength="255" value="" class="form-control trans_white" style="width:100%" placeholder="Google Search"
			/>
		</div>
		<div class="col-sm-1" style="display: none">
			<input type="submit" value="Google Search" class="btn trans_white" />
			<input type="checkbox" name="sitesearch" value="" style="display: none" checked/>
			<input type="checkbox" name="sitesearch" value="{{ site.url }}" style="display: none" />
		</div>
	</div>
</form>
