<!-- iOS related -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<!-- iOS Icon -->
<link rel="apple-touch-icon" href="{{ "/assets/img/apps60/{{ site.logo }}" | relative_url }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ "/assets/img/apps76/{{ site.logo }}" | relative_url }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/img/apps120/{{ site.logo }}" | relative_url }}">
<!-- iOS 7-8 iPhone 5-6 -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/img/apps180/{{ site.logo }}" | relative_url }}">
<!-- iOS 8 iPhone 6+ -->
<!-- Startup Image for iPhone 3GS and iPod Touch 320x460 -->
<link rel="apple-touch-startup-image" media="(max-device-width: 480px) and not (-webkit-min-device-pixel-ratio: 2)" href="{{ "/assets/img/ios/apple-touch-startup-320x460.png" | relative_url }}"
/>
<!-- Startup Image for iPhone retina display 640x920 -->
<link rel="apple-touch-startup-image" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" href="{{ "/assets/img/ios/apple-touch-startup-640x920.png" | relative_url }}"
/>
<!-- Startup Image for iPad portrait 768x1004 -->
<link rel="apple-touch-startup-image" media="(orientation: portrait)" href="{{ "/assets/img/ios/apple-touch-startup-768x1004.png" | relative_url }}"
/>
<!-- Startup Image for iPad landscape 1024x748 -->
<link rel="apple-touch-startup-image" media="(orientation: landscape)" href="{{ "/assets/img/ios/apple-touch-startup-1024x748.png" | relative_url }}"
/>

<!-- Android related -->
<meta name="mobile-web-app-capable" content="yes" />
<!-- Android Icon -->
<link rel="shortcut icon" sizes="196x196" href="{{ "/assets/img/{{ site.logo }}" | relative_url }}">
<link rel="shortcut icon" sizes="128x128" href="{{ "/assets/img/{{ site.logo }}" | relative_url }}">

<!-- Microsoft related -->
<meta name="application-name" content="{{ site.name }}" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-square70x70logo" content="{{ "/assets/img/apps76/{{ site.logo }}" | relative_url }}" />
<meta name="msapplication-square150x150logo" content="{{ "/assets/img/apps120/{{ site.logo }}" | relative_url }}" />
<meta name="msapplication-wide310x150logo" content="{{ "/assets/img/apps196/{{ site.logo }}" | relative_url }}" />
<meta name="msapplication-square310x310logo" content="{{ "/assets/img/apps196/{{ site.logo }}" | relative_url }}" />
