.brands {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.b-pivotaltracker {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.b-statuscake {
  width: 32px;
  height: 32px;
  background-position: -48px 0;
}
.b-splunk {
  width: 33px;
  height: 32px;
  background-position: -96px 0;
}

