/**
 * Google Fonts variables
 */
$font_0: Pacifico;
$font_1: cursive;
$font_2: Baloo+Bhaina;
$font_3: cursive;

/**
 * Department Colors
 */
$dept-gold: #D8AB4C;
$dept-blue: #006682;
$dept-red: #993D1B;
$dept-darkgray: #333333;
$dept-lightgray: #DDDDDD;
$dept-white: #FFFFFF;


// Styleguide Base.colors
$color_alabaster: #fbfbfb;
$color_white: #fff;
$color_pink_swan: #bababa;
$color_gallery: #eee;
$color_deep_sea_green: #02535a;
$color_emperor: #4D4D4D;
$color_rangoon_green: #1b1b1b;
$color_black: #000;
$color_twilight_blue: #f0ffff;
$color_mercury: #e7e7e7;
$color_dark_gray: #D7DADD;
