.v {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.v-name {
  font-size: 32px;
  color: red;
}
========================================== */

.v-vumc {
  width: 1.2158203125em;
}
