{% include login_check.php %}

{% assign navbar_right = true %}
{% assign navbar_home = false %}
{% assign navbar_email = false %}
{% assign navbar_finder = false %}
{% assign navbar_updates = true %}
{% assign navbar_logout = true %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include header-top.html %}

    {% include header-mobile.html %}

    {% include header-bottom.html %}
</head>

<body>
{% include navbar.html %}

{% include message-center.html %}

<section id="mainContentArea" class="container-fluid">

    {% include google-search.html %}

    {{ content }}

</section>
</body>

{% include footer.html %}
</html>
